.style h1{
    font-family: 'Russo One', sans-serif;
}
.style h2{
    font-family: 'Russo One', sans-serif;
    color: orange;
    font-size: 50px;
}
.icon ul li {
    float: left;
    text-align: center;
    margin: 10px;
    transform: translateX(227px);
    margin-top: 43px;
    font-size: 19px;
}
.hehhhh {
    margin-top: 127px;
}
img.image{
    height:200px;
    width:200px;
    border-radius:50%
}
.hdhdhd {
    margin-top: 127px;
}
.icon ul li a{
    color: orange;
}
@media screen and (max-width:780px) {
    img.image{
        display: none;
    }
    .hehhhh {
        margin-top: 60px;
        width: 285px;
    }
    marquee {
        display: none;
    }
    .hdhdhd {
        margin-top: 127px;
    }
    img.image{
        display: none;
    }
}