.background{
    background-image:linear-gradient(#191e5885,#191e5885),url('../../Images//banner.jpg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact{
    font-family: 'Trade Winds', cursive;
    text-align: center;
    font-size: 40px;
    color: white;
}
